@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

html,
body,
h1 {
  font-family: 'Ubuntu', sans-serif;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.kubernetes-logo {
    max-width: 2em;
    margin: 0 0.5em;
}

.Adlib-cards {
    font-family: 'Ubuntu', sans-serif;
    min-height: 25em;
    display: flex;
    margin: 0 0.5em;
    padding: 3em 0 0 0;
    cursor: grab;
}

.Adlib-cards ::selection {
    background: transparent;
}

.Adlib-cards ::-moz-selection {
    background: transparent;
}

.Prompt-cards {
    font-family: 'Ubuntu', sans-serif;
    min-height: 25em;
    margin: 0 0.5em;
    padding: 3em 0 0 0;
    background-color: #282c34 !important;
    color: white;
        
}

.Prompt-cards ::selection {
    background: transparent;
}

.Prompt-cards ::-moz-selection {
    background: transparent;
}


.cardTitle {
    min-height: 20vh;
}

.cardText {
    min-height: 20vh;
}

button {
    font-size: calc(10px + 2vmin);
}
.hand {
    display: flex;
    flex-direction: row;
}