@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

html,
body,
h1 {
  font-family: 'Ubuntu', sans-serif;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.h1 {
    font-size: 1em;
}
.kubernetes-logo {
    max-width: 2em;
    margin: 0 0.5em;
}

.card {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin: 0.5em;
        min-height: 15em !important;
}

.card ::selection {
    background: transparent;
}

.card ::-moz-selection {
    background: transparent;
}

.Adlib-cards {
    cursor: grab;
}
.Default-cards {
    background-color: #fff;
    color: rgb(0, 89, 255);
}

.prompt-banner {
    margin: 1em 0;
}

.Prompt-cards {
    background-color: #282c34 !important;
    color: white;
}

button {
    font-size: calc(10px + 2vmin);
}

.toast {
    width: 100% !important;
}